body {
    background: rgb(245, 243, 237);
    color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 110%;
    font-size: 14px;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 200%;
    border: 2px solid darkslateblue;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 180%;
    margin-top: 16px;
    margin-bottom: 16px;
}

table {
    width: 600px;
    border-spacing: 8px;
}

th {
    font-weight: bold;
    text-align: left;
    padding: 0px 0px 10px 0px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

ul {
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: 20px;
	list-style-type: inherit;
}

ol{
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: 20px;
	list-style-type: decimal;
}

img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
    margin: 20px auto;
    display: block;
}

a{
    color: rgb(182, 76, 150);
}

#LinkedIn{
    text-align: left;
    margin-top: 10px;
    padding-top: 10px;
}